springdoc:
  swagger-ui:
    path: /docs
server:
  port: 9003
spring:
  application:
    name: payment-service
  main:
    banner-mode: OFF
  datasource:
    url: jdbc:postgresql://localhost:5432/airlinedb_ticket
    username: user
    password: password
    hikari:
      connection-timeout: 2000 #ms
      maximum-pool-size: 5
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false


app:
  consumetopic: booking-accepted
  localhost: localhost:29092
  typeoffseat: latest

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"

management:
  endpoints:
    web:
      exposure:
        include: configprops, env, flyway, health, heapdump, info, loggers, mappings, prometheus
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  info:
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true